
#content {
	display:fixed;
	left:0;
	right:0;
	top:0;
	bottom:0;
	height:100%;
	width:100%;
	padding:0;
	margin:0;
}

#toc {
	display:none; /* init */
	position:fixed!important; 
	overflow:auto; 
	z-index: 10;
	background-color: rgba(50,50,50,.9); 
	box-shadow: 0px 0px 10px gray; 
	border-left: 10px solid black;
}

#toc.ui-resizable-disabled {
	opacity:1!important;
}

#book-content { 
	display:none; /* init */
	position:relative; 
	overflow:auto; 
	z-index: -1;
	max-width:5in;
}

a {
	text-decoration:none;
}

#content.mobile #toc-menu .toc-action {
	padding: 0 1em;
}

.toc-action a {
	color: #c8c8c8;
}

.toc-action {
	display:inline-block;
	padding: 0 .5em .5em 0;
	color: #c8c8c8;
	text-align:center;
}

#toc li a:hover {
	border-bottom:1px solid #c8c8c8;
} 

#toc li a, 
#toc li {
	color:#c8c8c8;
	line-height:1.4;
	padding:.25em 0;
	font-size:12pt;
	font-family: Helvetica, Universal, Arial, sans-serif;
}

#content.mobile #toc li a {
	font-size:16pt;
	font-family: sans-serif;
}

#toc ul {
	margin:0;
	padding:0 0 0 .5em;
	list-style-type: none;
}

#toc ul.level-0 {
	list-style-type: none;
}

#toc ul.level-0 > li a {
	font-weight: bold;
}

#toc ul.level-1 {
	list-style-type: none;
}

#toc ul.level-2 {
	list-style-type: none;
}

#log {
	color:palegreen;
	font-family:monospace;
	font-size:10pt;
	border-top:lightgray;
	padding-top:1em;
	margin-top:1em;
}

#content.mobile h1.book-heading {}

/* Book Title */
div.section-1 > h1.book-heading,
article.section-1 > h1 {
	font-size:18pt;
	font-weight:bold;
	text-align:center;
}

/* Chapter Title */
div.section-2 h1.book-heading,
article.section-2 > h1 {
	font-size:16pt;
	font-weight:bold;
	padding-top:1em;
	border-top:1px solid gray;
	text-align:left;
}

/* Section Title */
div.section-3 h1.book-heading,
article.section-3 > h1 {
	font-size:16pt;
	font-weight:bold;
	padding-top:1em;
	border-top:1px solid gray;
	text-align:left;
}

/* Section Title */
div.section-3 h1.book-heading,
article.section-4 > h1 {
	font-size:14pt;
	font-weight:bold;
	padding-top:1em;
	border-top:1px solid gray;
	text-align:left;
}

div.section-1, article {}

div.section-2 {
	background-color: rgba(248,236,194,.25);
}

button.action {
	font-size:125%;
}

.book-edit-menu {
	display:none;
	_margin-bottom: 1em;
	_text-align:right;
}

div.field-name-field-book-content h1 {
	font-weight:bold;
}

div.field-name-field-book-content h2 {
	font-weight:bold;
}

div.field-name-field-book-content h3 {
	font-weight:bold;
}

div.field-name-field-book-content h4 {}

div.field-name-field-book-content h5 {}

div.field-name-field-book-content h6 {}

div.field-name-field-book-content h7 {}

div.field-name-field-book-content * {
	font-family: "Baskerville","Garamond","Times New Roman",sans-serif;
}

div.field-name-field-book-content p {
	font-size:14pt;
	text-align:justify;
}

#content.mobile div.field-name-field-book-content p {
	font-size:18pt;
	text-align:justify;
}

aside, .bourdieu {
	font-size:12pt;
}

#content.mobile aside, #content.mobile .bourdieu {
	font-size:16pt;
}

.shanti-essays-pullquote-right {
	width:40%;
	font-family:sans-serif!important;
	text-align:left;
	font-size: 16pt;
	font-weight:bold;
	float:right;
	border-top: 5px solid black;
	border-bottom: 5px solid black;
	padding:.5em 0;
	margin-top: .5em;
	margin-left: .5em;
	margin-bottom:.5em;
}

.shanti-essays-pullquote-left {
	width:40%;
	font-family: sans-serif!important;
	text-align:left;
	font-size: 16pt;
	font-weight:bold;
	float:left;
	border-top: 5px solid black;
	border-bottom: 5px solid black;
	padding:.5em 0;
	margin-top: .5em;
	margin-right: .5em;
	margin-bottom:.5em;
}

.submitted {
	border-top:1px solid gray;
	margin-top:1em;
	padding-top:1em;
}

blockquote {
	background:none!important;
	border-left:none!important;		
}

blockquote:before,
blockquote:after { 
	content: none!important; 
}
