@import url(http://fonts.googleapis.com/css?family=Muli:300,400,400italic,300italic|Archivo+Narrow:400,700,700italic,400italic|Shanti);


/* Should reayll remove this in preprocess or alter function somewhere */
#admin-menu {display:none;}

/* Not sure if these settings are necessary */
#reader {
	display:fixed;
	left:0;
	right:0;
	top:0;
	bottom:0;
	height:100%;
	width:100%;
	padding:0;
	margin:0;
}

#toc {
	display:none; /* init */
	position:fixed!important; 
	overflow:auto; 
	z-index: 10;
	box-shadow: 0px 0px 10px gray;
}

#book-content { 
	display:none; /* init */
	position:relative!important; 
	overflow:auto; 
	z-index: 1;
	width:6in;
	max-width:7.5in;
	min-width:2.5in;
}

#toc.ui-resizable-disabled {
	opacity:1!important;
}

#toc-bar {
	display: none;
	position: relative;
	cursor: col-resize;
	height: 100%;
	width: 1em;
	left:	0px;
	top: 0px;
	bottom: 0px;
	float: left;
	margin: 0 .5em 0 0;
}

#toc-menu {}

#toc-menu .toc-action {
  display:inline-block;  
	padding: 0 .5em .5em 0;
	color: #c8c8c8;
}

#reader.mobile #toc-menu .toc-action {
	padding: 0 1em 1em 0;
}

#toc-menu .toc-action a {
	color: #c8c8c8;
}

#reader.mobile #toc-adjust-width {
	display:none;
}

a {
	text-decoration:none;
}

#toc ul > li > a:hover {
	border-bottom:1px solid #c8c8c8;
} 

#toc li a, 
#toc li {
	color: #c8c8c8; /* black;  */
	line-height: 16pt;
	padding: 0 0 0 0;
	margin-bottom: .5em;
	font-size: 14pt;
	_font-family: Bitter, Helvetica, Universal, Arial, sans-serif;
	font-family: 'Archivo Narrow', sans-serif;
}

#toc li a:visited {
  _color:black!important;
}

#reader.mobile #toc li a {
	font-size:16pt;
	font-family: 'Archivo Narrow', sans-serif;
}

#toc ul {
	margin: 0;
	padding: 0 0 0 .5em;
	list-style-type: none;
}

#toc .toc-item-internal-header {
	padding:0;
	margin:0;
}
#toc .toc-item-internal-header a {
	font-size:80%;
}

#toc ul.level-0 {
	margin: 40px 0 0 0;
	padding: 0 .5em 0 1em;
	list-style-type: none;
}

#toc ul.level-0 > li a {
	font-weight: bold;
}

#toc ul.level-1 {
	list-style-type: none;
}

#toc ul.level-2 {
	list-style-type: none;
}

#log {
	color:palegreen;
	font-family:monospace;
	font-size:10pt;
	border-top:lightgray;
	padding-top:1em;
	margin-top:1em;
}

#reader.mobile h1.book-heading {}

h1,h2,h3,h4,h5,h6,h7 {
	_font-family: Bitter;
	font-family: 'Archivo Narrow', sans-serif;
}
/* Book Title */
div.section-1 > h1 {
	font-size:18pt;
	font-weight:bold;
	text-align:center;
}

/* Chapter Title */
div.section-2 > h1 {
	font-size:16pt;
	font-weight:bold;
	padding-top:1em;
	border-top:1px solid gray;
	text-align:left;
}

/* Section Title */
div.section-3 > h1 {
	font-size:16pt;
	font-weight:bold;
	padding-top:1em;
	border-top:1px solid gray;
	text-align:left;
}

/* Section Title */
div.section-4 > h1 {
	font-size:14pt;
	font-weight:bold;
	padding-top:1em;
	border-top:1px solid gray;
	text-align:left;
}

div.section-2 {}

button.action {
	font-size:125%;
}

.book-edit-menu {
	position:relative;
	top:-36px;
	right:0px;
	display:block;
}

.book-edit-menu {
	_position: relative;
	_top:0;
	_right:0;
	float:right;
	_margin-top: -2em;
}

.book-edit-menu .page-menu-action a {
	color: gray;
}

/* Headers within book contents */
div.field-name-field-book-content h1 {
	font-weight:bold;
}

div.field-name-field-book-content h2 {
	font-weight:bold;
}

div.field-name-field-book-content h3 {
	font-weight:bold;
}

div.field-name-field-book-content h4 {}

div.field-name-field-book-content h5 {}

div.field-name-field-book-content h6 {}

div.field-name-field-book-content h7 {}

div.field-name-field-book-content * {
	_font-family: 'Shanti', sans-serif;
	font-weight: light;
	font-family: "Baskerville","Garamond","Times New Roman",sans-serif;
}

.field-name-field-book-content h1,
.field-name-field-book-content h2,
.field-name-field-book-content h3,
.field-name-field-book-content h4,
.field-name-field-book-content h5,
.field-name-field-book-content h6,
.field-name-field-book-content h7
{
	font-family: 'Shanti', sans-serif;
}

div.field-name-field-book-content p {
	font-size:14pt;
	line-height: 21pt;
	text-align:justify;
}

/*
#reader.mobile div.field-name-field-book-content p {
	font-size:18pt;
	text-align:justify;
}
*/

aside, .bourdieu {
	_font-family: 'Shanti', sans-serif;
	font-family: "Baskerville","Garamond","Times New Roman",sans-serif;
	font-size:13pt;
	line-height: 18pt;
}

#reader.mobile aside, #reader.mobile .bourdieu {
	font-size:16pt;
}

.shanti-essays-pullquote-right {
	width:40%;
	font-family:sans-serif!important;
	text-align:left;
	font-size: 16pt;
	font-weight:bold;
	float:right;
	border-top: 5px solid black;
	border-bottom: 5px solid black;
	padding:.5em 0;
	margin-top: .5em;
	margin-left: .5em;
	margin-bottom:.5em;
}

.shanti-essays-pullquote-left {
	width:40%;
	font-family: sans-serif!important;
	text-align:left;
	font-size: 16pt;
	font-weight:bold;
	float:left;
	border-top: 5px solid black;
	border-bottom: 5px solid black;
	padding:.5em 0;
	margin-top: .5em;
	margin-right: .5em;
	margin-bottom:.5em;
}

.submitted {
	border-top:1px solid gray;
	margin-top:1em;
	padding-top:1em;
}

blockquote {
	background:none!important;
	border-left:none!important;		
}

blockquote:before,
blockquote:after { 
	content: none!important; 
}

