#shanti-essays-container {
  _position:relative;
  _width: 100%;
  _height: auto;
  height:660px;
  margin:-1em 0 0 -2em;
}

#shanti-essays-body {
  _position:absolute;
  _top: 0;
  _left: 0;
  _width: 700px;
  position:relative;
  float:left;
  height: 100%;
  width: 50%;
  min-width:300px;
  padding: 0 2em;
  overflow: scroll;
  background-color: white;
}

#shanti-essays-sidebar {
  _position:absolute;
  _top: 0;
  _left: 700px;
  position:relative;
  float:left;
  width:40%;
  padding: 0 1em;
}

#shanti-essays-toc {
  position: relative;
}

#shanti-essays-toc ul {
  margin-top: 0;
  padding-top: 0;
}

#shanti-essays-toc > ul:first-of-type {
  margin-left: 0;
  padding-left: 0;
}

#shanti-essays-toc li {
  font-size: 12pt;
  font-family:"museo-sans-500","Trebuchet MS","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Tahoma,sans-serif;
}

#shanti-essays-links {}

#shanti-essays-meta {}

#shanti-essays-body p {
  font-size: 14pt;
}

.bourdieu {
  font-size: 12pt; 
  font-family: sans-serif;
  border-top: 1px solid gray; 
  border-bottom: 1px solid gray; 
  padding: 1em 0; margin: 1em 0;
}

#shanti-essays-toc li, #shanti-essays-links .links li {
  list-style-type: none;
}

h1.book-heading {
  font-size:14pt;
  border-top:1px solid gray;
  padding-top:1em;
  font-weight: bold;
}


/* HACKY */

.content-section {
  padding-bottom: 0!important;  
}

#shanti-essays-sidebar.ui-widget-content {
  border:none!important;
}

#shanti-essays-sidebar .ui-widget-header {
  background:none!important;
  border: none;
  margin-top: 1em;
  margin-left: 1.7em;
}

#shanti-essays-sidebar .ui-state-active, 
#shanti-essays-sidebar .ui-widget-content .ui-state-active, 
#shanti-essays-sidebar .ui-widget-header .ui-state-active {
  border:1px solid gray;
  border-radius:0;
}

#shanti-essays-sidebar .ui-state-default, 
#shanti-essays-sidebar .ui-widget-content .ui-state-default, 
#shanti-essays-sidebar .ui-widget-header .ui-state-default {
  border:1px solid gray;
  border-radius:0;
}
       
#shanti-essays-sidebar.ui-tabs .ui-tabs-nav li.ui-tabs-active {
  margin-bottom: 0!important;
  padding-bottom: 0!important; 
}


/* field field-name-field-kmap-term field-type-shanti-kmaps-fields-default field-label-hidden */

#shanti-essays-sidebar .field {
  display:block;
  border-bottom: 1px solid gray;
  padding-bottom: 1em;
  margin-bottom: 1em;
}

#shanti-essays-sidebar .field-items {}

#shanti-essays-sidebar .field-item {}

#shanti-essays-sidebar .field-name-field-kmap-term .field-item {
  display:inline;
  _border: 1px solid gray;
  _text-align:center;
  _padding:.25em .5em;
  margin: 0 .25em;
  _border-radius:3px;
  _background-color:white;
  _width:auto;
}

