/* shanti_essays.css */

_body .content {
	margin: 0px;
}

_body #content .section {
	padding: 0px;
}

_body #main {
	width: 100%;
	height: 100%;
	margin-top: 0px;
}

body .node-book {
	position: relative;	/* This fixes the IE7 overflow hidden bug */
	clear: both;
	float: left;
	width: 100%;	/* width of whole page */
	height: 100%; /* NEED TO VARY BY SCREEN */
	overflow: hidden;	/* This chops off any overhanging divs */
	box-sizing: border-box;
}

/* MODEL:
shanti-essay-page-toc
shanti-essay-page-content
  shanti-essay-page-content-body
  shanti-essay-page-content-body-footer
    shanti-essay-page-links
    shanti-essay-page-navigation
*/

#shanti-essay-page-toc, 
#shanti-essay-page-content {
	float: left;
	width: 100%;
	height: 100%;
	position: relative;
	box-sizing: border-box;
}

#shanti-essay-page-content {
	width: 80%;
}

#shanti-essay-page-toc {
	width: 20%;
}


#shanti-essay-page-content-body {
	min-height: 4.6in;
	overflow: scroll;
	padding: 0 1em 0 0;
	font-size: 14pt;
}

#shanti-essay-page-content-body-footer {
	width: 100%;
}

/*
#shanti-essay-page-toc:only-child,
#shanti-essay-page-content:only-child,
#shanti-essay-page-content-body:only-child,
#shanti-essay-page-content-body-footer:only-child {
	width: 100%;
}
*/

#shanti-essay-page-content-body img {
	border:1px solid gray;
	padding:3px;
}

#shanti-essay-page-content-body img.left {
	float: left;
	margin-right: 1em;
}

#shanti-essay-page-content-body img.right {
	float: right;
	margin-left: 1em;
	
}
