
#main {}

/* Book Title */
div.section-1 > h1.book-heading,
section.section-1 h1 {
	font-size:18pt;
	font-weight:bold;
	text-align:center;
}

/* Chapter Title */
div.section-2 h1.book-heading,
section.section-2 h1 {
	font-size:16pt;
	font-weight:bold;
	padding-top:1em;
	border-top:1px solid gray;
	text-align:left;
}

div.section-1,
section {
	_width: 600px;
	_float:left;
}

div.section-2 {
	_background-color: rgba(248,236,194,.25);
	_padding:1em 3em;
	_margin:1em 0;
	_box-shadow: 5px 5px 20px gray;
	_width: 600px;
	_float:left;
}

button.action {
	font-size:125%;
}

.book-edit-menu {
	margin-bottom: 1em;
	text-align:right;
}

div.field-name-field-book-content h1 {
	font-weight:bold;
}

div.field-name-field-book-content h2 {
	font-weight:bold;
}

div.field-name-field-book-content h3 {
	font-weight:bold;
}

div.field-name-field-book-content h4 {}

div.field-name-field-book-content h5 {}

div.field-name-field-book-content h6 {}

div.field-name-field-book-content h7 {}

div.field-name-field-book-content * {
	font-family:"Times New Roman";
}

div.field-name-field-book-content p {
	font-size:14pt;
	text-align:justify;
}

aside, .bourdieu {
	font-size:12pt;
}

.shanti-essays-pullquote-right {
	width:40%;
	font-family:sans-serif!important;
	text-align:left;
	font-size: 16pt;
	font-weight:bold;
	float:right;
	border-top: 5px solid black;
	border-bottom: 5px solid black;
	padding:.5em 0;
	margin-top: .5em;
	margin-left: .5em;
	margin-bottom:.5em;
}

.shanti-essays-pullquote-left {
	width:40%;
	font-family: sans-serif!important;
	text-align:left;
	font-size: 16pt;
	font-weight:bold;
	float:left;
	border-top: 5px solid black;
	border-bottom: 5px solid black;
	padding:.5em 0;
	margin-top: .5em;
	margin-right: .5em;
	margin-bottom:.5em;
}

.submitted {
	border-top:1px solid gray;
	margin-top:1em;
	padding-top:1em;
}

blockquote {
	background:none!important;
	border-left:none!important;		
}

blockquote:before,
blockquote:after { 
	content: none!important; 
}

#toc {
	font-family:sans-serif;
	font-size:10pt;
	position:fixed;
	bottom:0px;
	overflow:scroll;
	width:250px;
	height:100%;
	top:0px;
	left:0px;
	background-color:rgba(0,0,0,.9);
	float:left;
	padding-top:2em;
	padding-right:1em;
	padding-bottom:1em;
	padding-left:1em;
	box-shadow:5px 5px 20px gray;
}

#toc > h1 {
	color:white;
}

#page-wrapper {
	margin-left:250px;
}
#toc li a:hover {
	text-decoration:none;
	color:white;
} 

#toc li a, 
#toc li {
	color:rgb(200,200,200);
}
#toc li {
	padding:.25em 0;
}

#toc ul {
	margin:0;
	padding:0 0 0 .5em;
	list-style-type: none;
}

#toc ul.level-0 {
	list-style-type: none;
}

#toc ul.level-0 > li a {
	font-weight: bold;
}

#toc ul.level-1 {
	list-style-type: upper-roman;
}


#navbar {
	width:600px;
	display:block;
	height:2em;
	padding:0 .5em;
	background-color: rgba(250,250,250,0.8);
}

#navbar-prev {
	float:left;
	width:42%;
	text-align:left;
}

#navbar-up {
	float:left;
	width:4%;
	margin:0 5%;
	display:block;
	text-align:center;
}

#navbar-next {
	float:right;
	width:42%;
	text-align:right;
}

.action {
	_padding:.25em .5em;
	_margin: .25em;
	_border-radius:3px;
	_border:1px solid gray;
	_font-size:18pt;
}


